alpaca-trade-api
arch
chromadb
datetime
faiss-cpu
fitz
Flask
Flask-CORS
google-generativeai
ipykernel
langchain
langchain_google_genai
lumibot
matplotlib
nltk
numpy
pandas
pandas_ta
pandas-datareader
PyMuPDF
PyPDF2
pyportfolioopt
python-dotenv
regex
scikit-learn
sentence-transformers
spacy
statsmodels
streamlit
timedelta
tqdm
xlsxwriter
yfinance